<h1>PROJECTS</h1>
<p>Number of Contestants <%=@project.contestant_count%></p>
<p>"Average age of Contestants <%=@project.average_age%></p>
<h2><%= @project.name %></h2>
<p><%= @project.material %></p>
<p><%= @project.challenge.theme %></p>