<h1>PROJECTS</h1>
<p>Number of Contestants <%=@project.contestant_count%></p>
<p>"Average age of Contestants <%=@project.average_age%></p>
<h2><%= @project.name %></h2>
<p><%= @project.material %></p>
<p><%= @project.challenge.theme %></p>

<%= form_tag "/projects/#{@project.id}/contestants/new" do %>
  <p><%= label_tag :name %>
  <%= text_field_tag :name %></p>

  <p><%= label_tag :material %>
  <%= text_field_tag :material %></p>

  <%= submit_tag "Add Contestant To Project"%>
<% end %>